body {
  margin: 0;
  font-family: -apple-system; BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  line-height: 1.5;


}

.container {
  position: relative;
}

.container svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: darken;
}



.popover {
  --top: auto;
  --left: auto;
  --transform: none;

  position: absolute;
  outline: none;
  top: var(--top);
  left: var(--left);
  transform: var(--transform);
  margin-top: 10px;
  background: gray;
  border-radius: 5px;
}

.popover::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: calc(50% - 5px);
  width: 10px;
  height: 8px;
  background: gray;
  clip-path: polygon(0% 100%,100% 100%, 50% 0%);
}
