body {
  margin: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #333;
  background: white;
}

@media print {
  .annotation-controls {
    display: none;
  }

  .color-button {
    // `color-adjust: exact` makes it so the browser doesn't ignore the
    // background color when it prints.
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}

.container {
  margin-top: 2rem;

  .svg-container {
    grid-column: 3;
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: relative;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
    }
  }
}

.popover {
  --top: auto;
  --left: auto;
  --transform: none;

  pointer-events: auto;
  position: absolute;
  outline: none;
  top: var(--top);
  left: var(--left);
  transform: var(--transform);
  margin-top: 1rem;
  background: gray;
  border-radius: 0.25rem;
  padding: 0.125rem;

  &:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: calc(50% - 0.25rem);
    width: 0.5rem;
    height: 0.4rem;
    background: gray;
    clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
  }

  &--arrow,
  &--marker {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
}

.color-button {
  --color: red;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0.125rem;
  padding: 0;
  border: 0;
  background: var(--color);
  border-radius: 0.125rem;
  position: relative;

  &--selected {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(
        circle at center,
        white 0%,
        white 25%,
        rgba(0, 0, 0, 0) 25%
      );
    }
  }
}

.color-picker {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(4, auto);
}

.code-container {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
  row-gap: 0.5rem;
}

.line-number {
  grid-column: 2;
  color: gray;
  text-align: right;
  margin-right: 0.5rem;
  margin-left: 0.25rem;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.line-annotations {
  grid-column: 1;
  display: flex;
  flex-direction: row;

  .color-button {
    border-radius: 1000rem;
    width: 1rem;
    height: 1rem;

    &--active {
      opacity: 1;
    }
  }

  &:hover {
    .color-button:not(.color-button--active):not(:hover) {
      opacity: 0.5;
    }
  }

  &:not(:hover) {
    .color-button:not(.color-button--active) {
      opacity: 0;
    }
  }
}

pre {
  grid-column: 3;
  margin: 0;
  font-size: 1rem;
}

.file-form {
  input {
    width: 40rem;
    max-width: 95%;
  }
}
